---
import { getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import CalendarIcon from "../../../public/icons/calendar.svg?raw";
import EyeIcon from "../../../public/icons/eye.svg?raw";
import BlogInfo from "../../components/blog/BlogInfo";

const entry = await getEntry("blog", Astro.params.id || "");
if (!entry) {
  return Astro.redirect("/blog");
}
const { Content, headings, remarkPluginFrontmatter } = await render(entry);
const formattedDate = entry.data.date.toLocaleDateString("en-US", {
  year: "numeric",
  month: "long",
  day: "numeric",
});

const category = await getEntry(entry.data.category);
---

<Layout
  image={entry.data.image
    ? { src: entry.data.image, alt: entry.data.title }
    : undefined}
>
  <div class={`max-w-5xl mx-auto px-6 ${entry.data.image && "mt-60"}`}>
    <nav aria-label="Breadcrumb">
      <div
        class="flex items-center gap-2 mb-4 mt-6"
        itemscope
        itemtype="https://schema.org/BreadcrumbList"
      >
        <span
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a href="/blog" class="hover:underline" itemprop="item">
            <span itemprop="name" class="text-blue-400">Blog</span>
          </a>
          <meta itemprop="position" content="1" />
        </span>
        <span class="opacity-70">›</span>
        <span
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <a
            href={`/blog/${category.data.slug}`}
            class="hover:underline"
            itemprop="item"
          >
            <span itemprop="name" class="text-blue-400"
              >{category.data.name}</span
            >
          </a>
          <meta itemprop="position" content="2" />
        </span>
        <span class="opacity-70">›</span>
        <span
          itemprop="itemListElement"
          itemscope
          itemtype="https://schema.org/ListItem"
        >
          <span class="opacity-70" itemprop="name">{entry.data.title}</span>
          <meta itemprop="position" content="3" />
        </span>
      </div>
    </nav>
    <h1 class="text-4xl font-bold mb-2">{entry.data.title}</h1>
    <p class="opacity-70 mb-6">{entry.data.description}</p>
    <div
      class="border-y border-white border-opacity-[0.15] py-3 flex items-center justify-between"
    >
      <BlogInfo content={formattedDate}>
        <Fragment set:html={CalendarIcon} />
      </BlogInfo>
      <BlogInfo content={remarkPluginFrontmatter.minutesRead}>
        <Fragment set:html={EyeIcon} />
      </BlogInfo>
    </div>
    <div class="content">
      <Content />
    </div>
  </div>
</Layout>

<style is:inline>
  .content *:not(.not-content, .not-content *) {
    all: revert;
    line-height: 1.7;
  }

  img {
    max-width: 100% !important;
  }
</style>
