---
import Layout from "../../../../layouts/Layout.astro";
import BaseInput from "../../../../components/BaseInput.astro";
import BreadCrumb from "../../../../components/BreadCrumb.astro";
import BaseButton from "../../../../components/BaseButton.astro";
import Card from "../../../../components/Card.astro";
import { buildBreadcrumb } from "../../../../glob_vars";

const api_address = import.meta.env.PUBLIC_API_ADDRESS;
---

<script define:vars={{ api_address }}>
  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");
    const urlInput = document.getElementById("url");
    const submitButton = document.querySelector("button");
    const loading = document.getElementById("loading");
    const infoField = document.getElementById("info-field");
    const tableBody = document.querySelector("tbody");

    if (urlInput && submitButton) {
      form.addEventListener("submit", (e) => {
        e.preventDefault();
        if (!loading.classList.contains("hidden")) return;
        const url = urlInput.value;
        infoField.parentElement.classList.add("hidden");
        tableBody.parentElement.classList.add("hidden");
        if (url) {
          loading.classList.remove("hidden");
          fetch(`${api_address}/tools/website-word-counter`, {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ url }),
          })
            .then((res) => res.json())
            .then((data) => {
              loading.classList.add("hidden");
              if (data.status === "ok") {
                data = data.data;
              } else {
                infoField.parentElement.classList.remove("hidden");
                infoField.innerHTML = `<b>${data.message}</b>`;
                return;
              }
              infoField.parentElement.classList.remove("hidden");
              infoField.innerHTML = `<b>${data.visible_words}</b> words were found on <b>${url}</b>`;
              tableBody.parentElement.classList.remove("hidden");
              tableBody.innerHTML = `
                ${data.top_words
                  .map(
                    (word) => `
                    <tr class="bg-white odd:bg-opacity-5 even:bg-opacity-20">
                    <td class="border-white border-opacity-60 p-2">${word.word}</td>
                    <td class="border-white border-opacity-60 p-2">${word.count}</td>
                    </tr>
                `
                  )
                  .join("")}`;
            })
            .catch((err) => {
              loading.classList.add("hidden");
              infoField.parentElement.classList.remove("hidden");
              infoField.innerHTML = `<b>Something went wrong</b>`;
              console.log(err);
            });
        } else {
          infoField.parentElement.classList.remove("hidden");
          infoField.innerHTML = `<b>Please enter a valid URL</b>`;
        }
      });
    }
  });
</script>

<title>Website Word Counter - Tim's Tools</title>
<meta
  name="description"
  content="Website Word Counter lets you count the words on a website/page completely for free. It also shows you the most used words on the website."
/>
<meta name="og:title" content="Website Word Counter - Tim's Tools" />
<meta
  name="og:description"
  content="Website Word Counter lets you count the words on a website/page completely for free. It also shows you the most used words on the website."
/>
<Layout current="/tools">
  <div class="mt-20 mb-40 max-w-4xl mx-auto px-6">
    <BreadCrumb urls={buildBreadcrumb("web", "seo")} />
    <div class="text-center mb-10 mt-10">
      <h1 class="text-5xl font-bold mb-4">Website Word Counter</h1>
      <p class="text-lg md:w-2/3 mx-auto">Count the words on a website/page.</p>
    </div>

    <form>
      <label for="url" class="text-xl font-bold"> URL of Website:</label>
      <div class="mt-4 mb-8">
        <BaseInput
          id="url"
          type="url"
          placeholder="e.g. witzdam.com"
          fullWidth
        />
      </div>
      <BaseButton text="Count Words" fullWidth />
    </form>

    <div id="loading" class="hidden mt-10">
      <div class="flex justify-center">
        <div
          class="animate-spin rounded-full h-16 w-16 border-b-2 border-white"
        >
        </div>
      </div>
    </div>
    <div id="result" class="mt-10">
      <div class="border-2 border-white rounded-xl p-6 hidden">
        <span id="info-field"></span>
      </div>
      <table class="hidden w-full table-fixed break-words mt-10">
        <thead>
          <tr>
            <th
              scope="col"
              class="text-start font-bold border-b border-white border-opacity-60 p-2 opacity-80"
              >Word</th
            >
            <th
              scope="col"
              class="text-start font-bold border-b border-white border-opacity-60 p-2 opacity-80"
              >Count</th
            >
          </tr>
        </thead>
        <tbody> </tbody>
      </table>
    </div>
  </div>
  <Card noPadding noRounded>
    <div class="max-w-4xl mx-auto px-6 py-10 text-center">
      <h2 class="font-bold text-4xl mb-4">Website Word Counter API</h2>
      <p class="md:w-1/2 mx-auto text-lg">
        If you need this tool or any other tool as an API, check out Tim's API.
        It's free and open for everyone.
      </p>
      <a
        href="/docs/api-collection/website-word-counter"
        class="mx-auto w-fit block mt-8"
      >
        <BaseButton text="Explore API Documentation" />
      </a>
    </div>
  </Card>
</Layout>
