---
import Layout from "../layouts/Layout.astro";
import Link from "../components/Link.astro";
import ProjectCard from "../components/ProjectCard.astro";
import Card from "../components/Card.astro";
import HoverTech from "../components/HoverTech.astro";
import MailIcon from "../../public/icons/mail.svg?raw";
import LinkArrow from "../../public/icons/link-arrow.svg?raw";
---

<script>
  import gsap from "gsap";

  const particles = document.querySelectorAll(".particle");

  const toOptions = {
    duration: 0.6,
    ease: "power4.out",
  };

  particles.forEach((particle) => {
    if (particle instanceof HTMLElement) {
      const xTo = gsap.quickTo(particle, "x", toOptions);
      const yTo = gsap.quickTo(particle, "y", toOptions);

      const offset = Number(particle.dataset.offset);

      document.addEventListener("mousemove", (e) => {
        const { clientX, clientY } = e;
        const { height, width, left, top } = particle.getBoundingClientRect();
        const x = clientX - (left + width / 2);
        const y = clientY - (top + height / 2);
        xTo(x * (offset - 0.001));
        yTo(y * (offset - 0.001));
      });

      const startOpacity = Number(particle.dataset.startOpacity);

      document.addEventListener("scroll", (e) => {
        particle.style.opacity = (
          startOpacity -
          window.scrollY / 500
        ).toString();
      });
    }
  });

  toOptions.duration = 0.5;
  toOptions.ease = "elastic.out(1, 0.4)";
  const cards = document.querySelectorAll(".card");

  cards.forEach((card) => {
    if (card instanceof HTMLElement) {
      const cardBackground = card.querySelector(".card-background");
      const cardBefore = card.querySelector(".card-b");
      const xToBG = gsap.quickTo(cardBackground, "x", toOptions);
      const yToBG = gsap.quickTo(cardBackground, "y", toOptions);
      const xToBefore = gsap.quickTo(cardBefore, "x", toOptions);
      const yToBefore = gsap.quickTo(cardBefore, "y", toOptions);

      card.addEventListener("mousemove", (e) => {
        const { clientX, clientY } = e;
        if (cardBackground === null || cardBefore === null) return;
        const { height, width, left, top } =
          cardBackground.getBoundingClientRect();
        const x = clientX - (left + width / 2);
        const y = clientY - (top + height / 2);
        xToBG(x * 0.05);
        yToBG(y * 0.05);
        xToBefore(x * 0.05);
        yToBefore(y * 0.05);
      });

      card.addEventListener("mouseleave", (e) => {
        xToBG(0);
        yToBG(0);
        xToBefore(0);
        yToBefore(0);
      });
    }
  });

  const cardsWrapper = document.getElementById("cards");
  if (cardsWrapper) {
    cardsWrapper.onmousemove = (e) => {
      for (const card of document.getElementsByClassName("card")) {
        const rect = card.getBoundingClientRect(),
          x = e.clientX - rect.left,
          y = e.clientY - rect.top;

        if (card instanceof HTMLElement) {
          card.style.setProperty("--mouse-x", `${x}px`);
          card.style.setProperty("--mouse-y", `${y}px`);
        }
      }
    };
  }

  const currentDate = new Date();
  const timeFormatter = new Intl.DateTimeFormat("en-US", {
    timeZone: "Europe/Berlin",
    hour12: false,
    hour: "numeric",
    minute: "numeric",
    second: "numeric",
  });

  const localTimeElement = document.getElementById("local-time");
  const currentLocalTime = timeFormatter.format(currentDate);
  if (localTimeElement instanceof HTMLElement) {
    localTimeElement.innerText = currentLocalTime;
  }
  setInterval(() => {
    const currentDate = new Date();
    const currentLocalTime = timeFormatter.format(currentDate);
    if (localTimeElement instanceof HTMLElement) {
      localTimeElement.innerText = currentLocalTime;
    }
  }, 1000);
</script>

<title>Tim Witzdam</title>
<meta
  name="description"
  content="Hey I'm Tim Witzdam, a full time student from Germany who also loves building cool things using code."
/>
<meta name="og:title" content="Tim Witzdam" />
<meta
  name="og:description"
  content="Hey I'm Tim Witzdam, a full time student from Germany who also loves building cool things using code."
/>
<Layout current="/">
  <section
    class="mt-20 md:flex md:items-center md:justify-between max-w-4xl mx-auto px-6"
  >
    <div class="text-center mb-16 md:text-left md:w-fit">
      <h1 class="text-5xl font-bold mb-4 md:text-6xl">👋 Hey I'm Tim</h1>
      <p class="text-lg max-w-[400px] mx-auto">
        I'm Tim Witzdam, a full time student from Germany who also loves
        building cool things using code.
      </p>
      <div
        class="flex justify-center items-center gap-4 mt-4 md:justify-start md:w-fit"
      >
        <Link text="Email me" href="mailto:tim@witzdam.com" />
        <Link text="Useful tools" href="/tools" />
      </div>
    </div>
    <div class="grid place-items-center relative w-fit mx-auto h-[300px]">
      <img
        src="/images/pfp.webp"
        alt="Tim Witzdam"
        class="rounded-full w-40 h-40 mt-8 object-contain"
        fetchpriority="high"
      />
      <div class="hidden min-[400px]:block -z-10">
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute -bottom-4 left-4 -rotate-6 scale-100 opacity-[53%]"
          data-offset="0.0257"
          data-start-opacity="0.53"
        >
        </div>
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute -bottom-4 -right-2 rotate-[20deg] scale-50 opacity-[17%]"
          data-offset="0.060"
          data-start-opacity="0.17"
        >
        </div>
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute bottom-20 -right-20 rotate-[20deg] scale-75 opacity-[27%]"
          data-offset="0.044"
          data-start-opacity="0.27"
        >
        </div>
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute top-10 -right-28 rotate-[-8deg] scale-100 opacity-[37%]"
          data-offset="0.0238"
          data-start-opacity="0.37"
        >
        </div>
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute top-0 right-0 rotate-[14deg] scale-[30%] opacity-[71%]"
          data-offset="0.042"
          data-start-opacity="0.71"
        >
        </div>
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute top-0 -left-14 rotate-[-10deg] scale-[55%] opacity-[27%]"
          data-offset="0.055"
          data-start-opacity="0.27"
        >
        </div>
        <div
          class="particle rounded-lg bg-[#D9D9D9] w-12 h-12 absolute top-32 -left-20 rotate-[-40deg] scale-75 opacity-[53%]"
          data-offset="0.021"
          data-start-opacity="0.53"
        >
        </div>
      </div>
    </div>
  </section>
  <section class="mt-28 max-w-4xl mx-auto px-6">
    <h2 class="text-5xl font-bold">🤝 My projects</h2>
    <p class="mb-24 mt-4 text-[#A2A2A2] text-xl">
      are helping exactly <b>85.654.743</b> people
    </p>
    <div class="px-6">
      <div class="mb-24">
        <ProjectCard
          number="01"
          logo="/images/cryptodisplay-logo.webp"
          name="CryptoDisplay"
          description="Discord Bot that displays Crypto Prices for over 5 Million Users"
          image={{
            src: "/images/cryptodisplay.webp",
            alt: "CryptoDisplay Website Screenshot",
          }}
          website_url="https://cryptodisplay.net"
        />
      </div>
      <div class="mb-24">
        <ProjectCard
          number="02"
          logo="/images/agencylabs-logo.webp"
          name="AgencyLabs"
          description="Lead Generation AI for Agencies and Freelancers"
          image={{
            src: "/images/agencylabs.webp",
            alt: "AgencyLabs Website Screenshot",
          }}
          website_url="https://agencylabs.ai"
        />
      </div>
      <ProjectCard
        number="03"
        logo="/images/preis-pilot-logo.webp"
        name="PreisPilot"
        description="Price Comparison Website for German Shops"
        image={{
          src: "/images/preis-pilot.webp",
          alt: "PreisPilot Website Screenshot",
          right: true,
        }}
        website_url="https://preis-pilot.com"
      />
    </div>
  </section>
  <section
    class="mt-28 max-w-4xl mx-auto px-6 grid grid-cols-1 grid-rows-1 gap-8 root-container"
    id="cards"
  >
    <div class="T">
      <div class="L">
        <Card animated>
          <img
            src="/images/location.webp"
            alt="Location Map"
            class="rounded-[3rem] mb-6"
          />
          <p class="font-bold text-3xl text-center">Bottrop, Germany</p>
          <p class="opacity-60 text-center text-xl" id="local-time"></p>
        </Card>
        <Card animated spotify>
          <div class="flex items-center gap-6">
            <img
              src="/images/music.webp"
              alt="Head & Heart by Joel Corry"
              class="rounded-xl"
              width="60"
            />
            <div>
              <p class="font-bold">Head & Heart</p>
              <p class="opacity-60">Joel Corry and MNEK</p>
            </div>
          </div>
        </Card>
        <Card
          animated
          link={{
            url: "https://github.com/TimWitzdam",
            label: "Tim's GitHub Account",
          }}
        >
          <div class="flex items-center gap-6 w-full">
            <img
              src="/images/tech/github.svg"
              alt="GitHub Logo"
              class="rounded-xl"
              width="60"
            />
            <div>
              <p class="font-bold text-2xl">Github</p>
            </div>
            <div
              class="flex items-center gap-2 opacity-0 ml-auto -translate-x-full group-hover/card:opacity-60 group-hover/card:translate-x-0 transition-all"
            >
              <span>Check it out</span>
              <Fragment set:html={LinkArrow} />
            </div>
          </div>
        </Card>
      </div>
      <Card animated>
        <p class="font-bold text-4xl text-center mb-10">Tech I love</p>
        <div class="relative h-[600px] w-[250px] mx-auto">
          <div class="absolute top-0 left-0">
            <HoverTech
              size="90"
              name="Python"
              image={{ src: "/images/tech/python.svg", alt: "Python 3 Logo" }}
            />
          </div>
          <div class="absolute top-0 right-4">
            <HoverTech
              size="40"
              name="JavaScript"
              image={{
                src: "/images/tech/javascript.svg",
                alt: "Javascript Logo",
              }}
            />
          </div>
          <div class="absolute top-32 right-14">
            <HoverTech
              size="40"
              name="JavaScript"
              image={{
                src: "/images/tech/astro.svg",
                alt: "Astro JS Logo",
              }}
            />
          </div>
          <div class="absolute top-36 left-0">
            <HoverTech
              size="40"
              name="PostgreSQL"
              image={{
                src: "/images/tech/postgres.svg",
                alt: "PostgreSQL Logo",
              }}
            />
          </div>
          <div class="absolute top-60 right-0">
            <HoverTech
              size="60"
              name="Tailwind CSS"
              image={{
                src: "/images/tech/tailwind.svg",
                alt: "Tailwind CSS Logo",
              }}
            />
          </div>
          <div class="absolute top-80 left-0">
            <HoverTech
              size="70"
              name="Vue JS"
              image={{
                src: "/images/tech/vue.svg",
                alt: "Vue JS Logo",
              }}
            />
          </div>
          <div class="absolute top-56 left-24">
            <HoverTech
              size="60"
              name="Java"
              image={{
                src: "/images/tech/java.svg",
                alt: "Java Logo",
              }}
            />
          </div>
          <div class="absolute bottom-40 right-0">
            <HoverTech
              size="140"
              name="MySQL"
              image={{
                src: "/images/tech/mysql.svg",
                alt: "MySQL Logo",
              }}
            />
          </div>
          <div class="absolute bottom-6 left-10">
            <HoverTech
              size="60"
              name="Figma"
              image={{
                src: "/images/tech/figma.svg",
                alt: "Figma Logo",
              }}
            />
          </div>
          <div class="absolute bottom-6 right-10">
            <HoverTech
              size="80"
              name="Nuxt 3"
              image={{
                src: "/images/tech/nuxt_3.svg",
                alt: "Nuxt 3 Logo",
              }}
            />
          </div>
        </div>
      </Card>
    </div>
    <div class="B">
      <Card
        animated
        link={{
          url: "https://codepen.io/TimWitzdam",
          label: "Tim's CodePen Account",
        }}
      >
        <div class="group-hover/card:-translate-y-3 transition-transform">
          <p class="font-bold text-2xl text-center mb-4">CodePen</p>
          <img
            src="/images/tech/codepen.svg"
            alt="CodePen Logo"
            width="90"
            class="mx-auto group-hover/card:scale-75 transition-all"
          />
        </div>
        <div
          class="absolute whitespace-nowrap left-1/2 transform -translate-x-1/2 flex items-center gap-2 opacity-0 mt-2 -translate-y-7 group-hover/card:opacity-60 group-hover/card:-translate-y-5 transition-all"
        >
          <span>Check it out</span>
          <Fragment set:html={LinkArrow} />
        </div>
      </Card>
      <Card
        animated
        link={{ url: "mailto:tim@witzdam.com", label: "tim@witzdam.com" }}
      >
        <div
          class="flex flex-col-reverse gap-6 items-center sm:flex-row sm:gap-0 sm:items-start justify-between"
        >
          <div>
            <p class="font-bold text-4xl mb-1">Reach out to me!</p>
            <div
              class="opacity-60 flex items-center gap-2 text-lg justify-center md:justify-start"
            >
              <span>tim@witzdam.com</span>
              <Fragment set:html={MailIcon} />
            </div>
          </div>
          <img
            src="/images/waving.webp"
            alt="Waving Emoji"
            width="120"
            class="my-4"
          />
        </div>
      </Card>
    </div>
  </section>
</Layout>

<style>
  .root-container {
    display: grid;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 0.4fr;
    gap: 2em 2em;
    grid-template-areas:
      "T"
      "B";
  }
  .T {
    display: grid;
    grid-template-columns: 1.2fr 0.8fr;
    grid-template-rows: 1fr;
    gap: 2em 2em;
    grid-template-areas: "L .";
    grid-area: T;
  }
  .L {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 0.1fr 0.1fr;
    gap: 2em 2em;
    grid-template-areas:
      "."
      "."
      ".";
    grid-area: L;
  }
  .B {
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 2em 2em;
    grid-template-areas: ". .";
    grid-area: B;
  }

  @media (max-width: 890px) {
    .root-container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 0.1fr;
      grid-template-areas:
        "T"
        "B";
    }
    .T {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 2em 2em;
      grid-template-areas: "L";
      grid-area: T;
    }
    .L {
      grid-template-columns: 1fr;
      grid-template-rows: 0.3fr 0.1fr 0.1fr;
      gap: 2em 2em;
      grid-template-areas:
        "."
        "."
        ".";
      grid-area: L;
    }
    .B {
      height: fit-content;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      gap: 2em 2em;
      grid-template-areas: ".";
      grid-area: B;
    }
  }
</style>
