---
import Card from "./Card.astro";
import BaseButton from "./BaseButton.astro";

interface Props {
  number: string;
  logo: string;
  name: string;
  description: string;
  image: {
    src: string;
    alt: string;
    right?: boolean;
  };
  website_url: string;
  newTab?: boolean;
  buttonText?: string;
}

const {
  number,
  logo,
  name,
  description,
  image,
  website_url,
  newTab = true,
  buttonText = "Visit the website",
} = Astro.props;
---

<div>
  <Card noPadding>
    <div class="absolute -top-7 -right-6 -z-20">
      <span class="text-6xl font-black out opacity-60">{number}</span>
    </div>
    <div class="px-8 pt-8 mb-10">
      <img
        src={logo}
        alt={name}
        class="rounded-full object-cover mb-4"
        width="45"
        height="45"
      />
      <p class="text-3xl font-bold mb-2">{name}</p>
      <p class="opacity-60 mb-6 text-lg">{description}</p>
      <a href={website_url} target={newTab ? "_blank" : "_self"}>
        <BaseButton text={buttonText} arrow />
      </a>
    </div>
    <img
      src={image.src}
      alt={image.alt}
      class="rounded-xl"
      class:list={[
        { "ml-auto pl-10": image.right, "mx-auto px-4": !image.right },
      ]}
      width="600"
      loading="lazy"
    />
  </Card>
</div>

<style>
  .out {
    color: #161616;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0)
    );
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-stroke: 2px transparent;
  }
</style>
