---
import "../styles/global.css";

interface Props {
  current?: string;
  image?: {
    src: string;
    alt: string;
  };
}

const { current, image }: Props = Astro.props;
const routes: {
  name: String;
  path: string;
}[] = [
  {
    name: "Home",
    path: "/",
  },
  {
    name: "Tools",
    path: "/tools",
  },
  // {
  //   name: "Projects",
  //   path: "/projects",
  // },
];

Astro.response.headers.set("Content-Type", "text/html; charset=utf-8");
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/images/pfp.webp" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:image" content="https://witzdam.com/images/pfp.webp" />
  </head>
  <body>
    <header class="pt-4 px-6 max-w-6xl mx-auto relative">
      <div
        class={`flex justify-center items-center gap-4 max-w-fit mx-auto ${image && "bg-[#2E2E2E] rounded-lg p-2"}`}
      >
        {
          routes.map((route) =>
            route.path === current ? (
              <a
                href={route.path}
                class="rounded-lg py-1 px-4 group bg-[#2E2E2E] transition-colors"
              >
                <span class="">{route.name}</span>
              </a>
            ) : (
              <a
                href={route.path}
                class="rounded-lg py-1 px-4 group hover:bg-[#2E2E2E] transition-colors"
              >
                <span class="text-[#8a8a8a] group-hover:text-white transition-colors">
                  {route.name}
                </span>
              </a>
            )
          )
        }
      </div>
      {
        image && (
          <div class="absolute top-0 left-0 right-0 bottom-0 -z-10">
            <div class="relative gradient">
              <img
                src={image.src}
                alt={image.alt}
                class="w-full h-80 rounded-lg mb-6 object-cover object-top"
              />
            </div>
          </div>
        )
      }
    </header>
    <main class="min-h-screen mb-36">
      <slot />
    </main>
    <footer class="bg-[#252525]">
      <div class="max-w-6xl mx-auto p-6">
        <p class="text-center">
          Copyright © {new Date().getFullYear()} Tim Witzdam. All rights reserved.
        </p>
      </div>
    </footer>
  </body>
</html>

<style is:global>
  * {
    font-family:
      ui-sans-serif,
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      Segoe UI,
      Roboto,
      Helvetica Neue,
      Arial,
      Noto Sans,
      sans-serif,
      Apple Color Emoji,
      Segoe UI Emoji,
      Segoe UI Symbol,
      Noto Color Emoji;
    -webkit-font-smoothing: antialiased;
    color: white;
  }
  html {
    background-color: #161616;
    overflow-x: hidden;
  }

  .gradient::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(
      180deg,
      rgba(22, 22, 22, 0.2) 0%,
      rgba(22, 22, 22, 1) 100%
    );
  }
</style>
